.app {
    background-color: #4d4d4d;
    margin: 15px auto 15px auto;
    max-width: 70%;
    max-height: 80%;
    border: 2px solid black;
    box-shadow: 0px 0px 6px black;
    color: #ffffff;
    padding: 1rem;
}

.form-label {
    font-size: large;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#list {
    color : black;
    overflow: auto;
    max-height: 7rem;
    margin-bottom: 1rem;
}

.under-group {
    border: 1px solid #cfffc3;
    background-color: #18181857;
    padding: 0.5rem;
    border-radius: 3px 3px;
}